/* styles.css */

body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 0;
    background-color: #fff;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    color: #333; ;
}

.container {
    width: 70%;
    height: 80vh;
    background: 	#ECEFF4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.container-vid {
    width: 95%;
    height: 95vh;
    background: 	#ECEFF4;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.heading {
    margin-bottom: 80px;
}

#exercise{
    font-size: 25px;
    margin-top: 0px;
}

.form-group {
    margin-top: 80px;
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin: 10px 0;
}

.form-group input {
    margin-right: 10px;
}


p{
    font-size: 30px;
    margin-top: 20px;
}

button {
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    background-color:#5c5470 ;
    color:#dbd8e3;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #2A2D34 ;
}

.exercise-btn{
    font-size: 25px;
    margin: 15px;
}

button:hover {
    background-color: #ddd;
    color: #333;
}

#videoFeed {
    width: 95%;
    height: 90vh; 
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.text {
    color: inherit;        
    text-decoration: none; 
    font-size: inherit;           
}

.radio-label {
    display: inline-block;
    margin: 20px;
    position: relative;
    padding-left: 35px; 
    cursor: pointer;
    font-size: 18px;
}


.radio-label input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}





