/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    color: #333;
}

.container {
    width: 80%;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}


.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin: 10px 0;
}

.form-group input {
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.exercise-btn {
    background-color: #28a745;
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
    border-radius: 5px;
    border: 2px solid #ddd;
}

.exercise-btn:hover {
    background-color: #ddd;
    color: #333;
}

button:hover {
    background-color: #218838;
}

#videoFeed {
    width: 80%; 
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.text {
    color: inherit;        
    text-decoration: none; 
    font-size: inherit;           
}

.radio-label {
    display: inline-block;
    margin: 10px;
    position: relative;
    padding-left: 35px; /* Adjust padding to account for the custom radio button */
    cursor: pointer;
    font-size: 18px;
}


.radio-label input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}





