/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    color: #333;
}

.container {
    max-width: 1000px;
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}


.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin: 10px 0;
}

.form-group input {
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#videoFeed {
    width: 100%; 
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.text {
    color: inherit;        
    text-decoration: none; 
    font-size: inherit;           
}