<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Workout Assisstant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>AI Workout Assisstant</h1>
        <p>Select an exercise to start tracking:</p>
        <form id="exerciseForm">
             <div class="form-group">
                <button type="button" class="exercise-btn" data-value="1">Squat</button>
                <button type="button" class="exercise-btn" data-value="2">Bicep Curl</button>
                <button type="button" class="exercise-btn" data-value="3">Sit-up</button>
                <input type="hidden" id="selectedExercise" name="exercise" value="1">
            </div>
        </form>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
